body{
    color: white;
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
}
form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 450px;
    width: 350px;
    border: none;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    /* box-shadow: 0 0 12px black; */
}
form input ,textarea,select{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 7px;
}
.input ,.textArea,.author{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form textarea{
    height: 90px;
    resize: none;
    padding-top: 7px;
}
input:focus ,textArea:focus,select:focus{
    outline: none;
}
input[type="submit"]{
    background-color: rgb(0, 121, 207);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(0, 91, 156);
}
input[type="submit"]:active{
    background-color: rgb(1, 59, 101);
}
